@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white;
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
